<%= content_for :title do -%>
	<%= t("breadcrumbs.settings.index") %>
<% end -%>

<form accept-charset="UTF-8" action="/settings" class="simple_form special-form" method="post" novalidate="novalidate">
  <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden"/></div>
  <fieldset>
	    <legend><%= t("links.setting") %></legend>
    <div class="control-group string required">
      <label class="string required control-label" for="mms_url"><%= t("activerecord.attributes.setting.mms_url") %><abbr title="required">*</abbr></label>
      <div class="controls">
        <input class="string required span-full" id="mms_url" name="setting[mms_url]" required="required" size="50" type="text" value="<%= Setting.mms_url %>"/>
        <p class="help-block">彩信API地址。<span class="error"></span></p>
      </div>
    </div>
    <div class="control-group string required">
        <label class="string required control-label" for="sms_url"><%= t("activerecord.attributes.setting.sms_url") %><abbr title="required">*</abbr></label>
        <div class="controls">
          <input class="string required span-full" id="sms_url" name="setting[sms_url]" required="required" size="50" type="text" value="<%= Setting.sms_url %>"/>
          <p class="help-block">短信API地址。<span class="error"></span></p>
        </div>
    </div>
    <div class="control-group string required">
        <label class="string required control-label" for="sn"><%= t("activerecord.attributes.setting.sn") %><abbr title="required">*</abbr></label>
        <div class="controls">
          <input class="string required span-full" id="sn" name="setting[sn]" required="required" size="50" type="text" value="<%= Setting.sn %>"/>
          <p class="help-block">漫道序列号。<span class="error"></span></p>
        </div>
    </div>
    <div class="control-group string required">
      <label class="string required control-label" for="password"><%= t("activerecord.attributes.setting.password") %> <abbr title="required">*</abbr></label>
      <div class="controls">
        <input class="string required span-full" id="password" name="setting[password]" required="required" size="50" type="text" value="<%= Setting.password %>"/>
        <p class="help-block">漫道密码。<span class="error"></span></p>
      </div>
    </div>

  	  <div class="form-actions">
  	    <button type="submit" class="btn btn-primary">
  	    	<i class="icon-save icon-large"></i>
  		    	<b><%= t("breadcrumbs.settings.index") %></b>
  	    </button>
  	  </div>

  </fieldset>
</form>